In [2]:
# !pip install psycopg2

# !pip install ipywidgets

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import pandas as pd
import tensorflow as tf
import keras_tuner as kt
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier
import json
import requests
from config import api_key1
from pprint import pprint
import numpy as np
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine, text
from sqlalchemy.orm import Session
import ipywidgets as widgets
from IPython.display import display
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, ForeignKeyConstraint, PrimaryKeyConstraint, ForeignKey, Sequence

In [4]:
df = pd.read_csv('Resources/epl2020.csv')

df

,Unnamed: 0,h_a,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,...,AF.x,AC.x,AY.x,AR.x,B365H.x,B365D.x,B365A.x,HtrgPerc,AtrgPerc,matchDay
0,1,h,2.234560,0.842407,2.234560,0.842407,11,5,4,1,...,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667,Fri
1,2,a,0.842407,2.234560,0.842407,2.234560,5,11,1,4,...,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667,Fri
2,3,a,3.183770,1.200300,2.422640,1.200300,9,1,5,0,...,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857,Sat
3,4,h,1.200300,3.183770,1.200300,2.422640,1,9,0,5,...,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857,Sat
4,5,h,1.340990,1.598640,1.340990,1.598640,4,6,1,1,...,19,4,1,0,1.95,3.60,3.60,0.230769,0.375000,Sat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,572,a,0.445922,2.028830,0.445922,2.028830,3,9,0,4,...,10,1,2,0,1.80,3.90,4.20,0.647059,0.333333,Sun
572,573,a,0.585469,1.738900,0.585469,1.738900,2,3,0,2,...,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714,Sun
573,574,h,1.738900,0.585469,1.738900,0.585469,3,2,2,0,...,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714,Sun
574,575,a,0.672448,2.412390,0.672448,1.651220,2,8,0,4,...,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000,Mon
575,576,h,2.412390,0.672448,1.651220,0.672448,8,2,4,0,...,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000,Mon

In [5]:
csv_cols_dropped = []
for col in df.columns: 
    if ("Perc" in col) | ("Unnamed" in col) | (".x" in col) | (".y" in col) | ("deep" in col) | ("xG" in col) | ("matchtime" in col) | ("ppda" in col)| ("date" in col):
        csv_cols_dropped.append(col)

df_drop = df.drop(columns = csv_cols_dropped, axis = 1) 

df_drop = df_drop.drop(columns = ["wins", "draws", "loses", "pts"])
# for row in df_drop["h_a"]:
#     if row == "h":
#         df_drop[row] = "home"
#     else:
#         df_drop[row] = "away"; 
# df_drop

df_drop["h_a"] = df_drop["h_a"].replace({"h": "home", "a":"away"})

df_drop

,h_a,scored,missed,xpts,result,teamId,tot_points,round,tot_goal,tot_con,matchDay
0,home,4,1,2.3863,w,Liverpool,3,1,4,1,Fri
1,away,1,4,0.4405,l,Norwich,0,1,1,4,Fri
2,away,5,0,2.6312,w,Man City,3,1,5,0,Sat
3,home,0,5,0.2522,l,West Ham,0,1,0,5,Sat
4,home,1,1,1.0172,d,Bournemouth,1,1,1,1,Sat
...,...,...,...,...,...,...,...,...,...,...,...
571,away,0,4,0.2901,l,Everton,37,29,37,46,Sun
572,away,0,2,0.3539,l,Man City,57,28,68,31,Sun
573,home,2,0,2.4269,w,Man Utd,45,29,44,30,Sun
574,away,0,4,0.2673,l,Aston Villa,25,28,34,56,Mon
575,home,4,0,2.5950,w,Leicester,53,29,58,28,Mon

In [6]:
# print(df.dtypes)

# for col in df.columns:
#     print(f"{col}, Type: {type(df[col].iloc[0])}")

# df_2 = df.drop(columns = ["referees"]) 

# for col2 in df_2.columns:
#     print(f"{col2}, Type: {type(df_2[col2].iloc[0])}")

In [7]:
dummy = pd.get_dummies(df_drop, drop_first = False).astype(int)

# dummy["wins"] = dummy["score.winner_AWAY_TEAM"] + dummy["score.winner_HOME_TEAM"]

# cols_dropped = []
# for col in dummy.columns: 
#     if (".crest_" in col) | (".tla" in col) | (".shortName" in col) | ("utcDate_" in col) | ("https" in col) | (".msg_Activate Odds-Package in User-Panel" in col):
#         cols_dropped.append(col)

# dummy = dummy.drop(columns = cols_dropped, axis = 1)
print(len(dummy.columns))
print(dummy.columns)

39
Index(['scored', 'missed', 'xpts', 'tot_points', 'round', 'tot_goal',
       'tot_con', 'h_a_away', 'h_a_home', 'result_d', 'result_l', 'result_w',
       'teamId_Arsenal', 'teamId_Aston Villa', 'teamId_Bournemouth',
       'teamId_Brighton', 'teamId_Burnley', 'teamId_Chelsea',
       'teamId_Crystal Palace', 'teamId_Everton', 'teamId_Leicester',
       'teamId_Liverpool', 'teamId_Man City', 'teamId_Man Utd',
       'teamId_Newcastle United', 'teamId_Norwich', 'teamId_Sheffield United',
       'teamId_Southampton', 'teamId_Tottenham', 'teamId_Watford',
       'teamId_West Ham', 'teamId_Wolves', 'matchDay_Fri', 'matchDay_Mon',
       'matchDay_Sat', 'matchDay_Sun', 'matchDay_Thu', 'matchDay_Tue',
       'matchDay_Wed'],
      dtype='object')

In [8]:
for cols in dummy.columns:
    print(cols)

scored
missed
xpts
tot_points
round
tot_goal
tot_con
h_a_away
h_a_home
result_d
result_l
result_w
teamId_Arsenal
teamId_Aston Villa
teamId_Bournemouth
teamId_Brighton
teamId_Burnley
teamId_Chelsea
teamId_Crystal Palace
teamId_Everton
teamId_Leicester
teamId_Liverpool
teamId_Man City
teamId_Man Utd
teamId_Newcastle United
teamId_Norwich
teamId_Sheffield United
teamId_Southampton
teamId_Tottenham
teamId_Watford
teamId_West Ham
teamId_Wolves
matchDay_Fri
matchDay_Mon
matchDay_Sat
matchDay_Sun
matchDay_Thu
matchDay_Tue
matchDay_Wed

In [10]:
X = dummy.drop(columns = ["result_w", "result_d", "result_l"], axis = 1)

y= dummy[["result_w", "result_d", "result_l"]]

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

scaler =  StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)



# print(len(X.columns))

print(X.columns)

# X_train_scaled

Index(['scored', 'missed', 'xpts', 'tot_points', 'round', 'tot_goal',
       'tot_con', 'h_a_away', 'h_a_home', 'teamId_Arsenal',
       'teamId_Aston Villa', 'teamId_Bournemouth', 'teamId_Brighton',
       'teamId_Burnley', 'teamId_Chelsea', 'teamId_Crystal Palace',
       'teamId_Everton', 'teamId_Leicester', 'teamId_Liverpool',
       'teamId_Man City', 'teamId_Man Utd', 'teamId_Newcastle United',
       'teamId_Norwich', 'teamId_Sheffield United', 'teamId_Southampton',
       'teamId_Tottenham', 'teamId_Watford', 'teamId_West Ham',
       'teamId_Wolves', 'matchDay_Fri', 'matchDay_Mon', 'matchDay_Sat',
       'matchDay_Sun', 'matchDay_Thu', 'matchDay_Tue', 'matchDay_Wed'],
      dtype='object')

In [245]:
#logistic regression 

# classifier = LogisticRegression(solver='lbfgs',
#                                 max_iter=200,
#                                 random_state=1)
# classifier
# classifier.fit(X_train, y_train)
# print(f"Training Data Score: {classifier.score(X_train, y_train)}")
# print(f"Testing Data Score: {classifier.score(X_test, y_test)}")
# predictions = classifier.predict(X_test)
# results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
# results.head(10)
# accuracy_score(y_test, predictions)

# Or

# logistic_regression_model = LogisticRegression(random_state=9)
# lr_model = logistic_regression_model.fit(X_train, y_train)
# training_predictions = lr_model.predict(X_train)
# testing_predictions = logistic_regression_model.predict(X_test)
# training_matrix = confusion_matrix(y_train, training_predictions)
# print(training_matrix)
# test_matrix = confusion_matrix(y_test, testing_predictions)
# print(test_matrix)
# training_report = classification_report(y_train, training_predictions)
# print(training_report)
# testing_report = classification_report(y_test, testing_predictions)
# print(testing_report)

In [246]:
#Random Forest Classification

# rf_model = RandomForestClassifier(n_estimators=50, random_state=78, class_weight="balanced")
# f_model = rf_model.fit(X_train_scaled, y_train)
# predictions = rf_model.predict(X_test_scaled)

# y2 = y_test.values.flatten()

# p2 = predictions.flatten()

# # cm = confusion_matrix(y2, p2)
# # cm_df = pd.DataFrame(
# #     cm, index=["Actual 0", "Actual 1", "Actual 2"], columns=["Predicted 0", "Predicted 1", "Predicted 3"]
# # )

# # # Calculating the accuracy score
# acc_score = accuracy_score(y_test, predictions)

# # print("Confusion Matrix")
# # display(cm_df)
# print(f"Accuracy Score : {acc_score}")
# # print("Classification Report")
# print(classification_report(y_test, predictions))

# # importances = rf_model.feature_importances_
# # # List the top 10 most important features
# importances_sorted = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
# importances_sorted[:10]

Accuracy Score : 0.8263888888888888
              precision    recall  f1-score   support

           0       0.97      0.84      0.90        45
           1       0.93      0.68      0.78        37
           2       1.00      0.90      0.95        62

   micro avg       0.98      0.83      0.89       144
   macro avg       0.97      0.81      0.88       144
weighted avg       0.97      0.83      0.89       144
 samples avg       0.83      0.83      0.83       144

c:\Users\librarypc\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

[(0.25383425666165993, 'scored'),
 (0.24468743471873658, 'missed'),
 (0.07594721195789465, 'xpts'),
 (0.06414633080775371, 'tot_points'),
 (0.0612578164858422, 'tot_goal'),
 (0.05725968179720444, 'tot_con'),
 (0.052595988453008724, 'round'),
 (0.014358154847200185, 'teamId_Liverpool'),
 (0.012744227321573187, 'matchDay_Sun'),
 (0.010053735061947802, 'teamId_Wolves')]

In [13]:
#Neural network 

nn = tf.keras.models.Sequential()

x_features = len(X_train.iloc[0])

nn.add(
    tf.keras.layers.Dense(units=30, input_dim=x_features, activation="relu")
)
nn.add(
    tf.keras.layers.Dense(units=20, activation="relu")
)
nn.add(tf.keras.layers.Dense(units=3, activation="sigmoid"))

In [14]:
# if len(y_test.shape) > 1 and y_test.shape[1] > 1:
#     y_test = np.argmax(y_test, axis=1)
nn.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=20)

Epoch 1/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.4050 - loss: 1.3130
Epoch 2/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.3901 - loss: 1.1413
Epoch 3/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.4494 - loss: 1.0354
Epoch 4/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5746 - loss: 0.9508
Epoch 5/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.6143 - loss: 0.8919
Epoch 6/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.6056 - loss: 0.8503
Epoch 7/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.6657 - loss: 0.7917
Epoch 8/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.6769 - loss: 0.7557
Epoch 9/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.6952 - loss: 0.7167
Epoch 10/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7202 - loss: 0.6689
Epoch 11/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.7423 - loss: 0.6026
Epoch 12/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.7382 - loss: 0.6154
Epoch 13/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.7787 - loss: 0.5549
Epoch 14/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8043 - loss: 0.5118
Epoch 15/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8224 - loss: 0.5117
Epoch 16/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.8337 - loss: 0.4835
Epoch 17/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8220 - loss: 0.4397
Epoch 18/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8713 - loss: 0.3945
Epoch 19/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8427 - loss: 0.4070
Epoch 20/20
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.8897 - loss: 0.3639

In [16]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

5/5 - 0s - 73ms/step - accuracy: 0.8056 - loss: 0.4951
Loss: 0.495073527097702, Accuracy: 0.8055555820465088

In [18]:
print(y_test.shape)
print(y_test.head())

(144, 3)
     result_w  result_d  result_l
234         0         0         1
118         0         0         1
346         0         0         1
498         0         0         1
402         1         0         0

In [252]:
# predicted = nn.predict(X_test)

# predicted = (predicted)

# if len(y_test.shape) > 1 and y_test.shape[1] > 1:
#     y_test = np.argmax(y_test, axis=1)

# predicted = nn.predict(X_test)

# predictedb = np.argmax(predicted, axis = 1)

# print(f"Neural Network Accuracy: {accuracy_score(y_test, predictedb):.2f}")

# predictedb

In [253]:
# team_names = [f"team{i+1}" for i in range(len(predictedb))]

# predicted_wins = pd.Series(predicted.flatten(), index=team_names).reset_index()

In [254]:
# team_win_counts = predicted_wins.value_counts()

# print(team_win_counts)

# league_winner = team_win_counts.idxmax()

# league_winner

# print(f"{league_winner} will win the league!")

In [255]:
# Create DOT data
# dot_data = tree.export_graphviz(
#     model, out_file=None, feature_names=X.columns, class_names=["0", "1"], filled=True
# )

# # Draw graph
# graph = pydotplus.graph_from_dot_data(dot_data)

# # Show graph
# Image(graph.create_png())

In [19]:

import os
from dotenv import load_dotenv

load_dotenv() 
database_url = os.getenv("DATABASE_URL")
print(database_url)


engine = create_engine(database_url)

base = declarative_base()

class user_info(base): 
    __tablename__ = 'user_info'
    id = Column(Integer, primary_key=True, autoincrement=True, nullable=False)
    name = Column(String(250))

    __table_args__ = (
        PrimaryKeyConstraint('id'), 
        )
base.metadata.create_all(engine)

postgresql://postgres:datacamp@localhost:5432/proj4orders

In [273]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind = engine)

session = Session()

new = user_info(name = "Joe")

session.add(new)
session.commit()

In [314]:
class order(base): 
    __tablename__ = 'amount_add'
    
    order_id = Column(Integer, primary_key=True, autoincrement=True)
    user_id = Column(Integer)
    amount = Column(Float)
    team = Column(String(250))
    W_D_L = Column(String(250))

    __table_args__ = (
        ForeignKeyConstraint(['user_id'], ['user_info.id']),
        {'extend_existing':True},
    )
    
    
# base.metadata.create_all(engine)

C:\Users\librarypc\AppData\Local\Temp\ipykernel_7180\1843510974.py:1: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.order, and will be replaced in the string-lookup table.
  class order(base):

In [312]:
with engine.connect() as connection:
    connection.execute(text("ALTER TABLE amount_add RENAME COLUMN reason_for TO team;"))
    connection.commit()
    print("Column name changed successfully!")

Column name changed successfully!

In [313]:
try:
    with engine.connect() as connection: 
        connection.execute(text("ALTER TABLE amount_add ADD COLUMN Win_Draw_Loss VARCHAR(250);"))
        print("success")
        connection.commit()
except Exception as e:
    print(f"Error: {e}")

success

In [283]:
new_order = order(user_id = 1 , amount= 1000)

session.add(new_order)
session.commit()

In [ ]:
session.close()